
ul{
    list-style-type: none;
}

.mission{
    width : 60%;
    display :flex;
    flex-flow: row wrap;
    border: 5px solid #1affb2;
    padding: 1.5em 2em 2em 1.5em;
}

.mission > div {
    flex-grow: 1;
    width: 33%;
}

.mission_map{
    order: 1;
}

.mission_title{
    order: 2;
}

.mission_destination{
    order: 3;   
}

.mission_destination > div {
    display: inline-block; 
    text-align: center;
    width : 40%;
    padding-top:15px;
}

.mission_destination > .forward {
    width : 10%;
}

.mission_info_amount{
    order: 4;
}

.mission_info_amount > ul > li{
    margin-bottom:20px;
}

.mission_info_time{
    order: 5;
}

.mission_info_action{
    order: 6;
}
.mission_info_time > ul > li, .mission_info_action > ul > li{
    margin : 2px;
}

.mission_comments{
    order: 7;
    background-color: rgb(217, 217, 217);
    padding : 30px;
}


